@import "styles/variables.scss";

.communicationInfo {
  border-top: 1px solid $color-white-15;
  background: #fff;
  height: 100vh;

  &NoData {
    border-top: 1px solid $color-white-15;
    padding-top: 220px;
    text-align: center;
  }

  h2 {
    color: $color-black-4;
    @include font-semi-bold(1.6rem);
    line-height: 135%;
  }

  &Image {
    border-top: 1px solid $color-white-11;
    padding: 16px 0;

    &Paragraph {
      color: $color-black-4;
      @include font-reg(1.4rem);
      line-height: 160%;
    }
  }

  &Img {
    // noData
    &Text {
      color: $color-black-4;
      @include font-semi-bold(1.6rem);
      line-height: 135%;
      margin-bottom: 8px;
    }

    &Para {
      color: $color-grey-4;
      @include font-reg(1.4rem);
      line-height: 135%;
      max-width: 259px;
      margin: 0 auto;
    }
  }

  &Accordion {
    @include d-flex(space-between);
    padding-bottom: 16px;
  }

  &Arrow {
    display: none;
  }

  &Mail {
    border-radius: 8px;
    border: 1px solid $color-white-11;
    padding: 16px;
    margin-top: 20px;

    h4 {
      color: $color-black-10;
      @include font-semi-bold($fs: 1.6rem);
      font-weight: 600;
      line-height: 135%;
      border-bottom: 1px solid $color-white-11;
      padding-bottom: 16px;
      margin-bottom: 16px;
    }

    &Content {
      .mailTitle {
        padding-bottom: 16px;
        h5 {
          color: $color-black-4;
          @include font-semi-bold($fs: 1.4rem);
          line-height: 130%;
        }
        p {
          color: $color-black-10;
          @include font-reg($fs: 1.2rem);
          line-height: 130%;
          @include d-flex(space-between);
          span {
            color: $color-grey-8;
            @include font-reg($fs: 1.2rem);
            line-height: 130%;
          }
        }
      }
      .mailContent {
        p {
          color: $color-black-10;
          @include font-reg($fs: 1.2rem);
          line-height: 130%;
        }
      }
    }
  }

  &Chatbot {
    padding-top: 16px;
    color: $color-black-4;
    @include font-reg($fs: 1.4rem);
    line-height: 160%;
  }

  &Whatsapp {
    border-radius: 8px;
    border: 1px solid $color-white-11;
    padding: 16px;
    margin-top: 20px;
    @include d-flex(flex-start);
    flex-direction: column;
    gap: 16px;
    height: 450px;
    overflow: scroll;

    .chatMsg {
      @include d-flex(flex-start);
      align-items: flex-end;
      gap: 12px;
      width: 377px;
      img {
        margin-bottom: 12px;
      }
      p {
        @include font-reg($fs: 1.4rem);
        line-height: 135%;
        max-width: 240px;
      }
      span {
        color: $color-grey-8;
        @include font-reg($fs: 1.4rem);
        line-height: 130%;
      }
    }

    .senderMsg {
      justify-content: flex-start;
      &Details {
        @include d-flex(space-between);
        flex-direction: column;
        align-items: flex-start;
        gap: 4px;
      }
      p {
        color: $color-black-4;
        padding: 12px;
        background-color: $color-white-6;
        border-radius: 16px 16px 16px 0px;
      }
    }

    .receiverMsg {
      justify-content: flex-end;
      &Details {
        @include d-flex(space-between);
        flex-direction: column;
        align-items: flex-end;
        gap: 4px;
      }
      p {
        padding: 12px;
        background-color: $color-blue-0;
        border-radius: 16px 16px 0px 16px;
        color: $color-white-0;
      }
    }

    .replyMsg {
      &Details {
        @include d-flex(space-between);
        flex-direction: column;
        align-items: flex-end;
        gap: 4px;
      }
      p {
        padding: 12px;
        background-color: $color-blue-0;
        border-radius: 16px 16px 0px 16px;
        color: $color-white-0;
      }
    }
  }

  //    responsive
  @media (max-width: 768px) {
    border-radius: 12px;
    width: 100%;
    height: 100%;

    &NoData {
      padding: 80px 0 32px 0;
    }

    &Arrow {
      display: block;
    }

    &Img {
      // noData
      &Text {
        @include font-semi-bold(1.4rem);
      }

      &Para {
        max-width: 100%;
      }
    }
  }
}
