@import "styles/variables.scss";

.leadListing {
  padding: 22px 30px 24px 18px;
  .addNewLead {
    color: $color-white-0;
    background-color: $color-blue-0;
    border-radius: 4px;
    @include font-semi-bold($fs: 1.6rem);
    line-height: 135%;
    @include d-flex($jc: flex-start);
    gap: 8px;
    border: none;
    padding: 10px 12px;
    cursor: pointer;

    &:hover {
      background-color: $color-blue-8;
    }
  }
  .tripList {
    &Table {
      thead {
        tr {
          th {
            &:nth-child(6) {
              text-align: left;
            }
            &:nth-child(8) {
              text-align: left;
            }
          }
        }
      }
      tbody {
        td {
          &:nth-child(5) {
            text-transform: lowercase;
          }
          &:nth-child(6) {
            text-align: left;
          }
          &:nth-child(7) {
            text-align: left !important;
          }
          &:nth-child(8) {
            .tripListTableDistance {
              text-align: left !important;
            }
          }
        }
      }
    }
  }
  @media (max-width: 992px) {
    margin-bottom: 73px;
    padding: 16px;
  }
}
