// color
$color-white-0: #ffffff;
$color-white-1: #d5dbdc;
$color-white-2: #f3f7f9;
$color-white-3: #f8fbfb;
$color-white-4: #f7fdfd;
$color-white-5: #e4eef1;
$color-white-6: #ecf3f5;
$color-white-7: #ececec;
$color-white-8: #ffffffcc;
$color-white-9: #f6eff6;
$color-white-10: #f0f0f0;
$color-white-11: #ebebeb;
$color-white-12: #f0fafa;
$color-white-13: #e8e8e4;
$color-white-14: #e2ecf9;
$color-white-15: #eeedf0;

$color-black-0: #000000;
$color-black-1: #3f3f3f;
$color-black-2: #222;
$color-black-3: #0000000d;
$color-black-4: #171b1c;
$color-black-5: #3d3d3d;
$color-black-6: #00000014;
$color-black-10: #171725;
$color-black-7: #5c5f60;
$color-black-8: #18181b;
$color-black-9: #0000001f;
$color-black-10: #3a4243;
$color-black-11: #00000040;
$color-black-12: #0000001a;

$color-grey-0: #7e7e7e;
$color-grey-1: #616161;
$color-grey-2: #70707066;
$color-grey-3: #778a8d;
$color-grey-4: #677787;
$color-grey-5: #a9a9a9;
$color-grey-6: #dbdbdb;
$color-grey-7: #3e3e3e;
$color-grey-8: #8b98a4;
$color-grey-9: #546479;
$color-grey-10: #505050;
$color-grey-11: #bfbfbf;

$color-blue-0: #0098b3;
$color-blue-1: #00c3e5;
$color-blue-2: #c3ecf4;
$color-blue-3: #2592cb;
$color-blue-4: #466ee7;
$color-blue-5: #0a2240;
$color-blue-6: #1d67cd;
$color-blue-7: #e6fbff;
$color-blue-8: #00adcc;

$color-red-0: #da0000;
$color-red-1: #e81f1f;
$color-red-2: #e14b4a;
$color-red-3: #f22265;

$color-green-0: #31a93e;
$color-green-1: #daf5dd;

$color-yellow-0: #facd00;
$color-yellow-1: #e0af00;
$color-yellow-2: #fffbe6;

$color-orange-0: #e66d36;

$color-violet-0: #cc19d2;

$color-rgba-0: rgba(218, 0, 0, 0.33);

// Font mixins
@mixin font-reg($fs: 1.6rem) {
  font-size: $fs;
  font-weight: 400;
}

@mixin font-med($fs: 1.6rem) {
  font-size: $fs;
  font-weight: 500;
}

@mixin font-semi-bold($fs: 1.6rem) {
  font-size: $fs;
  font-weight: 600;
}

@mixin font-bold($fs: 1.6rem) {
  font-size: $fs;
  font-weight: 700;
}

// Flex mixin
@mixin d-flex($jc: flex-start) {
  display: flex;
  align-items: center;
  justify-content: $jc;
}
