@import "styles/variables.scss";

.productInfo {
  @include d-flex();
  flex-wrap: wrap;
  row-gap: 44px;
  column-gap: 16px;
  border-top: 1px solid $color-white-11;
  padding-top: 24px;

  > div {
    width: calc(32.5% - 8px);
  }

  // responsive
  @media (max-width: 768px) {
    padding-top: 16px;
    row-gap: 32px;

    > div {
      width: 100%;
    }
  }
}
