@import "styles/variables.scss";

.custom {
  .multi-checkbox {
    accent-color: $color-blue-0;
    width: 20px;
    height: 20px;
  }
}

.css-1p3m7a8-multiValue {
  border-radius: 4px !important;
  background-color: #c3ecf4 !important;
}
